In [23]:
#Importing the modules and the dataset
import pandas as pd 
import numpy as np


df=pd.read_csv('dataset.csv')

In [2]:
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [27]:
#dealing with missing data
total = df.isnull().sum().sort_values(ascending=False)
percent = (df.isnull().sum()/df.isnull().count()).sort_values(ascending=False)
missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
missing_data.head(20)

              Total   Percent
Electrical        1  0.000685
SalePrice         0  0.000000
Heating           0  0.000000
BsmtUnfSF         0  0.000000
BsmtFinSF2        0  0.000000
BsmtFinSF1        0  0.000000
Foundation        0  0.000000
ExterCond         0  0.000000
ExterQual         0  0.000000
Exterior2nd       0  0.000000
Exterior1st       0  0.000000
RoofMatl          0  0.000000
RoofStyle         0  0.000000
YearRemodAdd      0  0.000000
YearBuilt         0  0.000000
OverallCond       0  0.000000
OverallQual       0  0.000000
HouseStyle        0  0.000000
BldgType          0  0.000000
Condition2        0  0.000000

In [28]:
#To ensure no missing data is there
df = df.drop((missing_data[missing_data['Total'] > 1]).index,1)
df = df.drop(df.loc[df['Electrical'].isnull()].index)
df.isnull().sum().max() #just checking that there's no missing data missing...

0

In [29]:
#to ensure the percentage of missing data per column
total = df.isnull().sum().sort_values(ascending=False)
percent = (df.isnull().sum()/df_train.isnull().count()).sort_values(ascending=False)
missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
missing_data.head(20)

              Total  Percent
SalePrice         0      0.0
OverallQual       0      0.0
BsmtUnfSF         0      0.0
BsmtFinSF2        0      0.0
BsmtFinSF1        0      0.0
Foundation        0      0.0
ExterCond         0      0.0
ExterQual         0      0.0
Exterior2nd       0      0.0
Exterior1st       0      0.0
RoofMatl          0      0.0
RoofStyle         0      0.0
YearRemodAdd      0      0.0
YearBuilt         0      0.0
OverallCond       0      0.0
HouseStyle        0      0.0
Heating           0      0.0
BldgType          0      0.0
Condition2        0      0.0
Condition1        0      0.0

In [30]:
#To scale the SalePrice Column
from sklearn.preprocessing import StandardScaler
saleprice_scaled = StandardScaler().fit_transform(df_train['SalePrice'][:,np.newaxis]);
low_range = saleprice_scaled[saleprice_scaled[:,0].argsort()][:10]
high_range= saleprice_scaled[saleprice_scaled[:,0].argsort()][-10:]
print('outer range (low) of the distribution:')
print(low_range)
print('\nouter range (high) of the distribution:')
print(high_range)

outer range (low) of the distribution:
[[-1.83820775]
 [-1.83303414]
 [-1.80044422]
 [-1.78282123]
 [-1.77400974]
 [-1.62295562]
 [-1.6166617 ]
 [-1.58519209]
 [-1.58519209]
 [-1.57269236]]

outer range (high) of the distribution:
[[3.82758058]
 [4.0395221 ]
 [4.49473628]
 [4.70872962]
 [4.728631  ]
 [5.06034585]
 [5.42191907]
 [5.58987866]
 [7.10041987]
 [7.22629831]]

In [31]:
#To covert the dtypes of certain columns
df['MSSubClass'] = df['MSSubClass'].apply(str)


#Changing OverallCond into a categorical variable
df['OverallCond'] = df['OverallCond'].astype(str)


#Year and month sold are transformed into categorical features.
df['YrSold'] = df['YrSold'].astype(str)
df['MoSold'] = df['MoSold'].astype(str)

In [8]:
df.shape

(1459, 63)

In [9]:
df.columns

Index(['Id', 'MSSubClass', 'MSZoning', 'LotArea', 'Street', 'LotShape',
       'LandContour', 'Utilities', 'LotConfig', 'LandSlope', 'Neighborhood',
       'Condition1', 'Condition2', 'BldgType', 'HouseStyle', 'OverallQual',
       'OverallCond', 'YearBuilt', 'YearRemodAdd', 'RoofStyle', 'RoofMatl',
       'Exterior1st', 'Exterior2nd', 'ExterQual', 'ExterCond', 'Foundation',
       'BsmtFinSF1', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'GarageCars', 'GarageArea',
       'PavedDrive', 'WoodDeckSF', 'OpenPorchSF', 'EnclosedPorch', '3SsnPorch',
       'ScreenPorch', 'PoolArea', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition', 'SalePrice'],
      dtype='object')

In [32]:
#To encode the categorical columns by using LabelEncoder
from sklearn.preprocessing import LabelEncoder
cols = ('ExterQual', 'ExterCond','HeatingQC',  'KitchenQual', 'Functional', 'LandSlope',
        'LotShape', 'PavedDrive', 'Street',  'CentralAir', 'MSSubClass', 'OverallCond', 
        'YrSold', 'MoSold')
# process columns, apply LabelEncoder to categorical features
for c in cols:
    lbl = LabelEncoder() 
    lbl.fit(list(df[c].values)) 
    df[c] = lbl.transform(list(df[c].values))

# shape        
print('Shape all_data: {}'.format(df.shape))

Shape all_data: (1459, 63)

In [9]:
#To separate X and Y
X=df.copy()

In [10]:
X.drop(columns='SalePrice',axis=1,inplace=True)

In [11]:
Y=df['SalePrice']

In [19]:
#To partition the dataset to train and test
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size = 0.15, random_state = 0)

In [20]:
#Predicting the Price by applying RandomForest Regressor
#Random Forest Regression
from sklearn.ensemble import RandomForestRegressor
regressor = RandomForestRegressor(n_estimators = 150, random_state = 0,max_depth=50)
regressor.fit(X_train, y_train)

#Linear Regression
# from sklearn.linear_model import LinearRegression
# regressor = LinearRegression()
# regressor.fit(X_train, y_train)

#SVM
# from sklearn.svm import SVR
# regressor = SVR(kernel = 'rbf')
# regressor.fit(X_train, y_train)

# from sklearn.tree import DecisionTreeRegressor
# regressor = DecisionTreeRegressor(random_state = 0)
# regressor.fit(X_train, y_train)


# Predicting a new result
y_pred = regressor.predict(X_test)

y_pred

array([161931.70666667, 103808.        ,  92090.52666667, 142242.58      ,
       141394.        , 129638.00666667, 164980.16      , 188253.47333333,
        93456.36      , 117548.        , 106963.90666667, 321498.72      ,
        95940.        , 211748.09333333, 333732.4       , 156202.70666667,
       148033.46      , 374949.81333333, 310410.07333333, 156942.6       ,
       335581.46666667,  94447.07333333, 145852.52      , 197987.14      ,
       181393.        , 191804.76      , 154018.39333333, 299745.36666667,
        74016.33333333, 337020.76666667, 121752.5       , 145863.66666667,
       151608.        , 165036.54666667, 231534.88      , 286969.60666667,
       118711.        , 184188.66666667, 118430.22      , 126410.10666667,
       110288.25333333, 151092.94      , 235987.25333333,  83262.66666667,
       138025.        , 210170.33333333, 188188.16666667, 189207.64      ,
       123277.33333333, 266418.50666667, 284081.02666667, 146360.66666667,
        71616.37333333,  76932.92      , 142144.72      , 135365.76      ,
       234847.48666667, 241018.28      , 377440.56      , 155935.64      ,
       244418.35333333, 181368.33333333, 184445.        , 292577.84      ,
       129034.09333333, 154109.16666667, 116048.22666667, 248835.46666667,
        91345.17333333, 232719.67333333, 120017.16666667, 163635.06666667,
       164057.9       , 126286.37333333, 139587.        , 125561.10666667,
       315489.61333333, 157687.56      , 323951.48      , 166995.54666667,
       176981.35333333, 107056.33333333, 223373.06666667, 264864.31333333,
       408290.53333333, 120108.        , 287854.14666667, 194225.27333333,
       255599.32      , 219171.88666667, 186665.13333333, 131731.16666667,
       165956.2       , 110104.33333333, 152351.5       , 144622.24666667,
       127522.55333333, 211765.66666667, 128405.16666667, 151871.41333333,
       163816.        , 149716.37333333, 193813.4       , 188406.1       ,
       268799.95333333, 150597.93333333, 173119.10666667, 340385.52666667,
        99749.        , 275130.26666667, 103109.77333333, 180003.24666667,
       182207.00666667, 172021.54      , 140991.33333333, 156914.57333333,
       146558.34      , 182041.91333333, 177962.26666667, 284337.99333333,
       167735.91333333, 174223.68      , 131769.53333333, 228653.17333333,
       129735.54      , 231922.5       , 102102.33333333, 104086.16666667,
       161066.88      ,  95303.        , 232213.76      , 126292.65333333,
       149523.66666667,  82312.74      , 194746.5       ,  94709.35333333,
       252517.66666667, 156891.11333333, 121056.        , 104046.53333333,
       175135.09333333, 200972.76      , 132787.33333333, 169051.56      ,
       211954.9       , 319786.32666667, 291516.69333333, 288052.86666667,
       164783.10666667, 192190.44666667, 236491.08      ,  93009.08      ,
       263788.08666667, 278667.38      ,  96361.14666667, 132790.66666667,
       132215.33333333, 372739.98      , 117200.76      , 178286.68      ,
       141610.34      , 192845.9       , 144154.5       , 132519.97333333,
       142671.18      , 124226.77333333, 153378.70666667, 240689.28666667,
       120812.22      , 126199.38666667, 129492.84      , 321967.73333333,
       161815.33333333, 120862.38666667, 248402.98      , 324673.25333333,
       336509.67333333, 208943.37333333, 122552.        , 187276.38      ,
       147517.54      , 292544.1       , 428467.08      , 196077.56      ,
       405626.91333333, 118164.66666667, 140335.98666667, 183008.52666667,
       108492.66666667, 146140.74666667, 134511.66666667, 309988.54      ,
       116166.22666667, 263739.46666667, 269795.73333333,  87988.66666667,
       172351.02666667,  80891.74      , 139219.24666667, 141452.46      ,
       106771.46      , 141751.6       , 148761.22666667, 244239.02666667,
       132930.        , 142694.66666667, 168536.69333333, 128756.48      ,
       151481.49333333, 209029.73333333, 217121.05333333, 213995.        ,
       387842.99333333, 136591.05333333, 155935.56      , 228679.25333333,
       248751.60666667, 109243.30666667, 119606.        ])

In [26]:
X.head()

,Id,MSSubClass,LotArea,Street,LotShape,LandSlope,Neighborhood,Condition1,Condition2,BldgType,...,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1,9,8450,1,3,0,5,2,2,0,...,61,0,0,0,0,0,4,2,8,4
1,2,4,9600,1,3,0,24,1,2,0,...,0,0,0,0,0,0,7,1,8,4
2,3,9,11250,1,0,0,5,2,2,0,...,42,0,0,0,0,0,11,2,8,4
3,4,10,9550,1,0,0,6,2,2,0,...,35,272,0,0,0,0,4,0,8,0
4,5,9,14260,1,0,0,15,2,2,0,...,84,0,0,0,0,0,3,2,8,4

In [17]:
X.drop(columns=['MSZoning','LandContour','Utilities','LotConfig'],inplace=True)

In [21]:
X.head()

,Id,MSSubClass,LotArea,Street,LotShape,LandSlope,Neighborhood,Condition1,Condition2,BldgType,...,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1,9,8450,1,3,0,CollgCr,Norm,Norm,1Fam,...,61,0,0,0,0,0,4,2,WD,Normal
1,2,4,9600,1,3,0,Veenker,Feedr,Norm,1Fam,...,0,0,0,0,0,0,7,1,WD,Normal
2,3,9,11250,1,0,0,CollgCr,Norm,Norm,1Fam,...,42,0,0,0,0,0,11,2,WD,Normal
3,4,10,9550,1,0,0,Crawfor,Norm,Norm,1Fam,...,35,272,0,0,0,0,4,0,WD,Abnorml
4,5,9,14260,1,0,0,NoRidge,Norm,Norm,1Fam,...,84,0,0,0,0,0,3,2,WD,Normal

In [18]:
from sklearn.preprocessing import LabelEncoder
cols = ('Neighborhood', 'Condition1','Condition2',  'BldgType', 'SaleType', 'SaleCondition','HouseStyle','RoofStyle','RoofMatl',
        'Exterior1st','Exterior2nd','Foundation','Heating','Electrical'
       )
# process columns, apply LabelEncoder to categorical features
for c in cols:
    lbl = LabelEncoder() 
    lbl.fit(list(X[c].values)) 
    X[c] = lbl.transform(list(X[c].values))

# shape        
print('Shape all_data: {}'.format(X.shape))

Shape all_data: (1459, 58)

In [21]:
#Accuracy of the model by manual calculation
errors = abs(y_pred - y_test)
# Display the performance metrics
print('Mean Absolute Error:', round(np.mean(errors), 2), 'degrees.')
mape = np.mean(100 * (errors / y_test))
accuracy = 100 - mape
print('Accuracy:', round(accuracy, 2), '%.')

Mean Absolute Error: 17492.98 degrees.
Accuracy: 89.15 %.